ACTION=="add",SUBSYSTEM=="pci",RUN+="/sbin/hotplug.py"
ACTION=="add",SUBSYSTEM=="usb",RUN+="/sbin/hotplug.py"
ACTION=="add",SUBSYSTEM=="scsi",RUN+="/sbin/hotplug.py"
ACTION=="add",SUBSYSTEM=="firmware",RUN+="/sbin/hotplug.py"

